
.contact-section {
    display: block;
    background-color: var(--pry-color);
    color: var(--light);
    display: flex;
    flex-direction: column;

    .contact-container {
        background-color: var(--pry-color);
        max-width: 1200px;
    }
    .contact-content {
        max-width: 1200px;
        // padding: .5em 1.5em;
        h4 {
            text-align: left;
            font-size: .8rem;
            line-height: 32px;
            letter-spacing: 3px;
        }
        h1 {
            text-align: left;
            font-size: 3.25rem;
            line-height: 64px;
            letter-spacing: -1px;
            font-weight: 700;
        }
        p{
            text-align: left;
            font-size: .8rem;
            line-height: 32px;
            color: rgb(221, 221, 221);
        }
        .btn-group{
            display: flex;
            align-items: center;
            gap: 1em;
            padding: 1em 0;
        }
    }
}


@media screen and (min-width: 600px){
    .contact-section {
        padding: 4em 0;
        place-items: center;
        justify-content: center;
  

        .contact-container {
            max-width: 1200px;
            margin-top: 5em;
            padding: 1em 2em;
            // background-color: aqua;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .contact-content {
                margin-top: 4em;
                order: -1;
                display: flex;
                flex-direction: column;
                gap: 1.5em;

                h1 {
                    font-size: 4.5rem;
                    line-height: 80px;
                    letter-spacing: -2;
                }
                p {
                    font-size: 1rem;
                    max-width: 500px;
                }
                a {
                    font-size: 1rem;
                    padding: 1em;
                }
            }
            picture {
                width: 100%;
                .hero-image {
                  
                    order: 0;
                }

            }
            

        }

        
    }
    
}

@media only screen and (max-width:600px) {
   
    .contact-container {
        margin-top: 3em;
        padding: 3em 2em;
    }

}