
.reach-us-container {
    margin-top: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: aqua;
    width: 100%;
    .bkvideo {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 1000px;
    }
    
    .reach-us-content {
        position: absolute;
        top: 2em;
        margin-bottom: 2em;
        width: 100%;
        max-width: 470px;
        background-color: transparent;
        color: var(--light);
        padding: 2em;
        h3 {
            align-self: flex-start;
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: .5em;
        }
        
        form {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1em;
            border: 1px solid var(--light);
            border-radius: .5em;
            input, textarea {
                width: 100%;
                border-radius: .5em;
                padding: 1em;
                outline: none;
                border: 1px solid var(--dark);
                // border: none;
            }
        }
    }
}

.reach-us-container-2 {
    position: absolute;
    top: 35em;
    display: flex;
    gap: 2em;
    .reach-us-2 {
        padding: 0 2em;
        display: flex;
        flex-direction: column;
        p {
            line-height: 2rem;
        }
        h3 {
            font-size: 1.5rem;
            font-weight: 700;
        }
        .col-dis {
            padding: 2em;
            display: flex;
            flex-direction: column;
            gap: 1em;
            color: var(--light);
            border: 1px solid var(--light);
            .row-dis {
                display: flex;
                align-items: center;
                gap: 1em;
            }

            img {
                width: 40px;
            }
        }
        .col-dis:not(:last-child) {
            border-bottom: 0;
        }
    }
}

@media screen and (min-width: 600px){
    .reach-us-container {
        .bkvideo {
            position: relative;
            width: 100%;
            height: auto;
            height: 800px;
        }

        .reach-us-content {
            top: 5em;
        }
    }
    .reach-us-container-2 {
        top: 40em;
        width: 100%;
        max-width: 1200px;
        .reach-us-2 {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .col-dis:not(:last-child) {
            border-right: 0;
            border-bottom: 1px solid var(--light) !important;
        }
        img {
            width: 64px !important;
        }
    }
    
}
