


.folio-section {
    background-color: var(--pry-color);
    color: var(--light);
    display: flex;
    flex-direction: column;
    h4 {
        font-size: .8rem;
        line-height: 32px;
        letter-spacing: 3px;
    }
    .folio-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        
        .card-item {
            margin-top: 2em;
            position: relative;

            .card-details {
                position: absolute;
                bottom:1em;
                left: 2em;
                h3 {
        
                    text-align: left;
                    font-size: 2rem;
                    line-height: 64px;
                    letter-spacing: -1px;
                    font-weight: 700;
                }
                p{  
                    text-align: center;
                    font-size: .8rem;
                    font-weight: 700;
                    line-height: 32px;
                    border-radius: 3em;
                    padding: .2em;
                    background-color: var(--light);
                    color: var(--dark);
                }
            }
        }
    }
    .get-started {
        max-width: 1200px;
        padding: 1em 2em 0 2em;
        margin: 2em;
        background-color: var(--light);
        display: grid;

        .get-started-info {
            display: flex;
            flex-direction: column;
            place-items: flex-start;
            gap: 1em;
            a {
                max-width: 9em;
            }

            h3 {
                font-size: 2rem;
                color: var(--dark);
            }
        }
    }
}


@media screen and (min-width: 600px){
    .folio-section {
        padding: 4em 0;
        place-items: center;
  

        .folio-container {
            
            margin-top: 1em;
            padding: 1em 2em;
            // background-color: aqua;
            max-width: 1200px;

            display: grid;
            column-gap: 2em;
            row-gap: .5em;
            grid-template-columns: repeat(2, 1fr);
            padding-block: 2rem;
            margin-inline: auto;

            } 
            .get-started {
                max-width: 1150px;
                position: relative;
                grid-template-columns: 1fr 1fr 1fr;
                place-items: center;
                margin-top: 15em;

                .connect-image {
                    position: absolute;
                    width: 300px;
                    right: 2em;
                    bottom: 0;
                }
            }
    }
    
}

//mobile view

@media only screen and (max-width:600px) {
   .folio-section {
    place-items: center;
    padding-top: 2em;
   }
    .folio-container {
        margin-top: 1em;
        padding: 3em 2em;
        
    }
    .get-started {
        // padding: 2em 2em 0 0em;

        .connect-image {
            order: 1;
        }
        img {
            max-width: 500px;
            object-fit: contain;
        }
        .get-started-info {
            
            order: -1;
        }
    }

}