


.folio-section {
    background-color: var(--pry-color);
    color: var(--light);
    display: flex;
    flex-direction: column;
    .folio-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        
        // padding: .5em 1.5em;
        h4 {
            text-align: left;
            font-size: .8rem;
            line-height: 32px;
            letter-spacing: 3px;
        }
        .card-item {
            margin-top: 2em;
            position: relative;

            .card-details {
                position: absolute;
                bottom:1em;
                left: 2em;
                h3 {
        
                    text-align: left;
                    font-size: 2rem;
                    line-height: 64px;
                    letter-spacing: -1px;
                    font-weight: 700;
                }
                p{  
                    text-align: center;
                    font-size: .8rem;
                    font-weight: 700;
                    line-height: 32px;
                    border-radius: 3em;
                    padding: .2em;
                    background-color: var(--light);
                    color: var(--dark);
                }
            }
        }
    }
}


@media screen and (min-width: 600px){
    .folio-section {
        padding: 4em 0;
        place-items: center;
        justify-content: center;
  

        .folio-container {
            
            margin-top: 1em;
            padding: 1em 2em;
            // background-color: aqua;
            max-width: 1200px;

            .card-item {
                display: flexbox;
                flex-wrap: wrap;
            }

            } 
    }
    
}

@media only screen and (max-width:600px) {
   
    .folio-container {
        margin-top: 1em;
        padding: 3em 2em;
    }

}