
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer-content {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        padding: 2em;

        .footer-logo {
            width: 150px;
        }

        .menus {
            color: var(--sec-color);
            font-size: large;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            font-size: 1rem;
            line-height: 32px;
            font-weight: 400;

            a {
                font-size: 1rem;
                font-weight: 400;
                color: var(--dark);
                cursor: pointer;
            }
            a:hover, :active {
                font-size: 1rem;
                font-weight: 400;
                color: var(--sec-color);
                cursor: pointer;
            }
        }

        .social {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;

            img {
                width: 40px;
            }
        }
    }
    span {
        content: "";
        width: 100%;
        max-width: 1200px;
        height: 1px;
        background-color: var(--gray);
        margin-bottom: 2em;
    }
    .copy-ryts {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        margin-bottom: 2em;

        p {
            font-size: .8rem;
        }
        .grouped {
            display: flex;
            justify-content: space-between;
            gap: 2em;
        }
        a {
            color: var(--dark);
        }
        a:hover, :active {
            font-weight: 400;
            color: var(--sec-color);
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 600px) {
    .footer-content {
        flex-direction: row !important;
        justify-content: space-between;
        align-items: flex-start !important;

        .social {
            flex-direction: row !important;
        }
    }
    .copy-ryts {
        flex-direction: row !important;
        justify-content: space-between;
    }
}